private/
runs/

*.pt
!models/**/*.pt
*.zip
**/.DS_Store

**/data/raw
**/data/processed

**/__pycache__
*.egg-info

venv/
.venv/
env/
.env/

# Environment variables
.env

inspiration/
ui/static/results/result_*
test_images/Screenshot*

# Ignore duplicate ui/ui directory if it gets created
ui/ui/
