ultralytics
torch
torchvision
torchaudio
tiktoken

opencv-python
numpy
pandas

tqdm

easyocr
paddlepaddle
paddleocr
langdetect

beautifulsoup4
requests

svglib
reportlab

scikit-learn
pillow
pyyaml
transformers